{
  "env": {
    "node": true,
    "es6": true,
    "react-native/react-native": true
  },
  "extends": [
    "rallycoding",
  ],
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": "true"
    }
  },
  "rules": {
    "react/require-extension": "off"
  }
}
